html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(211, 191, 191);
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

.overlay--active {
  display: block;
}

.popup {
  position: absolute;
  background-color: #fff;
  z-index: 5;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px 50px;
}

.popup-text {
  max-width: 400px;
  max-height: 600px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.spinner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}

.container {
  margin: 40px auto;
  max-width: 1260px;
  padding: 0 20px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.currency-converter {
  margin-top: 100px;
}

.currency-converter+.contact-form {
  margin-top: 100px;
}

.block-title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.form {
  margin: 0 auto;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(52, 155, 203);
}

.form-convertor {
  background-color: green;
}

.form-item {
  display: block;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.form-input {
  max-width: 50%;
  margin-right: 10px;
  border-radius: 5px;
}

.form-consent {
  font-size: 15px;
}

.form-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.form-btn:hover {
  background-color: rgb(125, 125, 182);
  color: #fff;
  transition: background-color .5s, color .5s;
}

.form-message {
  margin: 10px auto 0;
  width: 80%;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 10px;
}

.link-page {
  position: relative;
  display: block;
  max-width: 170px;
  transform: translateX(-170px);
  left: 100%;
}

.link-page+.link-page {
  margin-top: 10px;
}

.link-page__btn {
  padding: 20px 40px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 329px);
  gap: 55px 117px;
  justify-content: center;
}

.cards-item {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  text-align: center;
  transition: all .5s;
  background-color: #fff;
}

.cards-item:hover {
  border: 1px solid #E06733;
  cursor: pointer;
}

/* .card__out--focus {
  filter: blur(2px);
  pointer-events: none;
} */

.cards-item__img {
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.cards-item__title {
  margin: 0 0 10px 0;
  color: #E06733;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.cards-item__description {
  margin: 0 0 36px 0;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* slider */

.slider-wrapper {
  overflow: hidden;
  padding-top: 50px;
  max-width: 1200px;
  /* border: 1px solid #000; */
  /* background-color: rgb(177, 250, 7); */
}

.slider-list {
  display: flex;
  margin-bottom: 50px;
  transition: transform 1s;
}

.slider-item {
  margin: 0 25px;
  text-align: center;
  min-width: 350px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.slider-item:nth-child(7),
.slider-item:nth-child(8),
.slider-item:nth-child(9) {
  background-color: #000;
  filter: sepia();
}

.slider-item__img {
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.slider-item__title {
  margin: 0 0 10px 0;
  color: #E06733;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.slider-item__descr {
  margin: 0 0 36px 0;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.slider-btn {
  text-align: center;
  margin-bottom: 30px;
}

.slider-btn__arrow {
  padding: 10px 25px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

.slider-btn__arrow+.slider-btn__arrow {
  margin-left: 50px;
}

.slider-btn__arrow:hover {
  background-color: grey;
}

@media (max-width: 1030px) {
  .slider-item {
    margin: 0 10px;
  }
}

@media (max-width: 881px) {
  .slider-item {
    margin: 0 3%;
  }
}

@media (max-width: 701px) {
  .slider-item {
    margin: 0 10px;
  }
}

@media (max-width: 631px) {
  .slider-item {
    margin: 0 5px;
  }
}

@media (max-width: 600px) {
  .slider-item {
    margin: 0 10%;
  }
}

@media (max-width: 390px) {
  .slider-item {
    margin: 0 30px;
  }
}

@media (max-width: 350px) {
  .slider-item {
    margin: 0;
  }
}